<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nc13.mappers.MovieMapper">
    <select id="selectAll" resultType="movieDTO" parameterType="hashmap">
        SELECT * FROM movie
        ORDER BY id DESC
        LIMIT ${startRow},${size}
    </select>

    <select id="selectSearch" resultType="movieDTO" parameterType="hashmap">
        SELECT * FROM movie
        WHERE title LIKE CONCAT ('%',#{inputSearch},'%')
        OR story LIKE CONCAT ('%',#{inputSearch},'%')
        ORDER BY id DESC
        LIMIT ${startRow},${size}
    </select>

    <insert id="insert" parameterType="movieDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product(title,story,movie_grade,file_name)
        VALUES(#{title},#{story},#{movieGrade},#{fileName})
    </insert>

    <select id="selectOne" parameterType="int" resultType="movieDTO">
        SELECT * FROM movie
        WHERE id=#{id}
    </select>

    <select id="selectWrite" resultType="int">
        SELECT id FROM movie
        ORDER BY id DESC
        LIMIT 1
    </select>

    <update id="update" parameterType="movieDTO">
        UPDATE product
        SET title=#{title},
        story=#{story},
        movie_grade=#{movieGrade},
        modify_date=NOW()
        WHERE id=#{id}
    </update>

    <update id="updateFileName" parameterType="movieDTO">
        UPDATE product
        SET title=#{title},
        story=#{story},
        movie_grade=#{movieGrade},
        modify_date=NOW(),
        file_name=#{fileName},
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM movie
        WHERE id=#{id}
    </delete>

    <select id="selectMaxRow" resultType="int">
        SELECT COUNT(*) FROM movie
    </select>

    <select id="selectMaxRowSearch" resultType="int" parameterType="hashmap">
        SELECT COUNT(*) FROM movie
        WHERE title LIKE CONCAT ('%',#{inputSearch},'%')
        OR story LIKE CONCAT ('%',#{inputSearch},'%')
    </select>
